<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <main>
    <h1><%= title %></h1>
    <p>Seja bem vindo(a) ao <strong><%= title %></strong></p>

  </main>
  <footer>
    <p>Versão <%= version %></p>
  </footer>
  
</body>
</html>